In [57]:
import pandas as pd

In [58]:
data_points = [[5.9,3.2], [4.6,2.9], [6.2,2.8], [4.7,3.2], [5.5,4.2], [5.0,3.0], [4.9,3.1], [6.7,3.1], [5.1,3.8], [6.0,3.0]]

In [59]:
df = pd.DataFrame(data_points, columns = ['x', 'y'])

In [60]:
df

     x    y
0  5.9  3.2
1  4.6  2.9
2  6.2  2.8
3  4.7  3.2
4  5.5  4.2
5  5.0  3.0
6  4.9  3.1
7  6.7  3.1
8  5.1  3.8
9  6.0  3.0

In [61]:
c1 = [6.2,3.2]
c2 = [6.6,3.7]
c3 = [6.5,3.0]

t1=[]
t2=[]
t3=[]

In [62]:
import math

x1=c1[0]
#print(x1)
y1=c1[1]

for i in  data_points:
    x2=i[0]
    y2=i[1]
    
    dist = math.sqrt((x2-x1)**2 +(y2-y1)**2)
    t1.append(dist)

In [63]:
t1

[0.2999999999999998,
 1.6278820596099712,
 0.40000000000000036,
 1.5,
 1.2206555615733703,
 1.216552506059644,
 1.3038404810405295,
 0.5099019513592785,
 1.2529964086141672,
 0.2828427124746193]

In [64]:
x1=c2[0]
#print(x1)
y1=c2[1]

for i in  data_points:
    x2=i[0]
    y2=i[1]
    
    dist = math.sqrt((x2-x1)**2 +(y2-y1)**2)
    t2.append(dist)

In [65]:
t2

[0.8602325267042621,
 2.154065922853802,
 0.9848857801796106,
 1.9646882704388495,
 1.2083045973594568,
 1.7464249196572978,
 1.802775637731994,
 0.6082762530298221,
 1.5033296378372907,
 0.9219544457292886]

In [66]:
x1=c3[0]
#print(x1)
y1=c3[1]

for i in  data_points:
    x2=i[0]
    y2=i[1]
    
    dist = math.sqrt((x2-x1)**2 +(y2-y1)**2)
    t3.append(dist)

In [67]:
t3

[0.6324555320336757,
 1.902629759044045,
 0.3605551275463989,
 1.8110770276274832,
 1.562049935181331,
 1.5,
 1.6031219541881394,
 0.22360679774997916,
 1.61245154965971,
 0.5]

In [73]:
w1 = min(t1)
w2 = min(t2)
w3 = min(t3)
mini=min(w1,w2,w3)
print(mini)

0.22360679774997916

In [78]:
if(mini==w1):
    c1.append(mini)
elif(mini==w2):
    c2.append(mini)
else:
    c3.append(mini)

In [79]:
c1

[6.2, 3.2]

In [80]:
c2

[6.6, 3.7]

In [81]:
c3

[6.5, 3.0, 0.22360679774997916]